<div class="container-fluid" style="background-color: black">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <p class="col-md-4 mb-0 text-primary">© Naman Bhatt 2024, Sticky Wall </p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold">
       STICKY WALL
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-primary">Home</a></li>
        <li class="nav-item"><a href="/features" class="nav-link px-2 text-primary">Features</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link px-2 text-primary">FAQs</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-primary">About</a></li>
      </ul>
    </footer>
  </div>