<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  
      <div class="row py-md-5 text-center justify-content-center">
  
        <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
          <h1 class="display-2 fw-bold mb-4 position-relative home-title">
            ABOUT STICKY WALL
          </h1>
          <p class="fs-4 mb-4">
            <hr>

            Sticky Wall is a user-friendly notes creation app designed to simplify the process of organizing your thoughts and ideas. Built with Node.js and EJS, and styled with Bootstrap for a clean and modern look, Sticky Wall aims to make note-taking accessible and efficient. Whether you're jotting down quick reminders or drafting detailed plans, Sticky Wall provides a seamless experience, allowing you to focus on what matters most. <br>
            <hr>
            Say goodbye to scattered notes and hello to a more organized approach with Sticky Wall. Its intuitive interface and straightforward design make creating and managing notes a breeze. With features such as easy note creation, editing, and organization, Sticky Wall is your go-to tool for staying productive and keeping your ideas in order.
            
          </p>
        </div>
  
      </div>
  </div>