<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  
    <div class="row py-md-5 text-center justify-content-center">

      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          FAQs
        </h1>
        <p class="fs-4 mb-4">
          <hr>
          Q: How do I create a new note in Sticky Wall? <br>
          A: To create a new note, simply click on the "New Note" button on the dashboard. This will open a new note where you can enter your content. <br>
          <hr>

          
          Q: How secure is Sticky Wall? <br>
          A: Sticky Wall takes security seriously and implements measures such as encryption and secure authentication to protect your data. Your notes are stored securely and are accessible only to you.

          <hr>
          
          Q: Can I access my notes from multiple devices? <br>
          A: Yes, Sticky Wall supports synchronization across multiple devices, allowing you to access your notes from anywhere.
          <hr>
          
          Q: How do I delete a note in Sticky Wall? <br>
          A: To delete a note, simply open the note you want to delete and click on the "Delete" button. This will permanently remove the note from Sticky Wall.
          <hr>

          Q: How do I update a note in Sticky Wall? <br>
          A: To update a note, simply open the note you want to update and proceed with the changes. Then click the update button.This will permanently remove the note from Sticky Wall.
          <hr>

        
          
        </p>
      </div>

    </div>
</div>