<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  
    <div class="row py-md-5 text-center justify-content-center">

      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          FEATURES
        </h1>
        <p class="fs-4 mb-4">
          <hr>
1. Easy Note Creation: Quickly create new notes with a simple interface. <br>
<hr>
2. Note Editing: Edit note content, including text formatting and adding images or links.<br>
<hr>
3. Note Organization: Categorize notes into folders or tag them for easy retrieval.<br>
<hr>
4. Search Functionality: Quickly find notes using keywords or phrases.<br>
<hr>
5. Sync Across Devices: Access notes from multiple devices with synchronization capabilities.<br>
<hr>
6. Customization: Customize the app's look and feel, such as background color and font style.<br>
<hr>
7. Accessibility: Ensure the app is accessible to all users, including those with disabilities.<br>
<hr>
8. Security: Implement security measures to protect user data, such as encryption and secure authentication.<br>
<hr>
9. FAQ Support: Provide users with a way to access support.<br>
<hr>
10.Responsive Design: Ensure the app is responsive and works well on different screen sizes and devices.<br>
<hr>
          
        </p>
      </div>

    </div>
</div>